---
import Header from "../components/Header.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Instagram from "../icons/Instagram.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import ProfessionalProfile from "../components/ProfessionalProfile.astro";
import Bento from "../components/Bento.astro";
import ScheduleAppointment from "../components/ScheduleAppointment.astro";
---

<Layout
  title="Citas odontológicas - Dra Migdalia Guerra con 13 años de experiencia. Ubicada en Maturin, Venezuela. Ortodoncia y estética dental."
  description="Dra. Migdalia Guerra, especialista en ortodoncia y estética dental. Atención personalizada y de calidad. Reserva tu cita ahora!"
>
  <main>
    <Header />

    <section
      class="w-full mx-auto lg:w-[700px] py-10 md:py-20 lg:py-40 text-center lg:text-left"
    >
      <div class="lg:flex lg:items-start lg:justify-start">
        <div>
          <h1
            class="text-4xl md:text-5xl lg:text-6xl text-white font-bold py-2"
          >
            Dra. Migdalia Guerra
          </h1>
          <h3 class="text-2xl md:text-3xl text-[#ED1CA7] font-bold mb-2">
            Ortodoncia y estética dental
          </h3>
          <h4 class="text-xl md:text-2xl text-white font-bold mb-3">
            Maturin - Venezuela
          </h4>
        </div>
        <img
          src="/perfil.webp"
          alt="doctora"
          class="rounded-full size-36 mx-auto mb-4 lg:mb-0 lg:ml-4"
        />
      </div>

      <nav class="flex justify-center mt-2 lg:justify-start">
        <SocialPill href="https://www.instagram.com/odontomigdaliaguerra/">
          <Instagram class="w-6 h-6" />
          Instagram
        </SocialPill>
      </nav>
    </section>

    <div class="w-full mx-auto lg:w-[700px] py-4">
      <h2
        class="text-white text-4xl font-bold text-center md:text-left md:-ml-20"
      >
        Servicios
      </h2>
    </div>
    <Bento />

    <div class="w-full mx-auto lg:w-[700px] py-4 mt-10 md:mt-20">
      <h2
        class="text-white text-4xl font-bold text-center md:text-left md:-ml-20"
      >
        Perfil Profesional
      </h2>
    </div>
    <ProfessionalProfile />

    <div class="w-full mx-auto lg:w-[700px] py-4 mt-10 md:mt-20 mb-4">
      <h2
        class="text-white text-4xl font-bold text-center md:text-left md:-ml-20 mb-4"
      >
        Agendar cita
      </h2>
      <h3 class="text-white text-2xl md:text-left md:-ml-20 ml-4">
        <strong>Reserva tu cita y atiéndete con nosotros!</strong>
      </h3>
      <p class="text-white md:text-left md:-ml-20 ml-4">
        Estamos ubicados en el
        <strong class="text-[#ED1CA7]">centro clínico La Esperanza</strong>
        3er piso, 1er consultorio.
      </p>

      <p>
        <a
          href="https://www.google.com/maps/place/Cl%C3%ADnica+La+Esperanza,+C.A./@9.7424994,-63.1716066,17z/data=!3m1!4b1!4m6!3m5!1s0x8c3340cd4691b07f:0xb631df8000d07faf!8m2!3d9.7424941!4d-63.1690317!16s%2Fg%2F1v8x371l?entry=ttu"
          target="_blank"
          class="text-[#ED1CA7] font-bold md:text-left md:-ml-20 ml-4 mb-4"
        >
          Ver en Google Maps
        </a>
      </p>

      <ScheduleAppointment />
    </div>
  </main>
</Layout>
