---
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
  w-full max-w-[920px]
  grid grid-cols-1 md:grid-cols-10 auto-rows-[30rem] gap-4
  mx-auto p-4
`}
>
  <BentoItem
    class="col-span-10 md:col-span-6 cursor-pointer relative group"
    title="ORTODONCIA"
  >
    <div
      slot="image"
      class="absolute left-0 right-0 bottom-0 h-full
    group-hover:scale-110 transition-scale duration-1000 ease-in-out
    opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat -z-10"
      style="background-image: url('/ortodoncia.jpg')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out mb-3"
    >
      Tratamiento para corregir la posición de los dientes y la mandíbula
      mediante aparatos como brackets, mejorando tanto la estética como la salud
      bucal.
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-4 cursor-pointer"
    title="TRATAMIENTO DE CARIES"
  >
    <div
      slot="image"
      class="absolute left-0 right-0 bottom-0 h-full
    group-hover:scale-110 transition-scale duration-1000 ease-in-out
    opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat -z-10"
      style="background-image: url('/caries.jpg')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out mb-3"
    >
      Eliminación del tejido dental dañado por la caries y restauración del
      diente afectado para prevenir complicaciones y mantener una buena salud
      bucal.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4 cursor-pointer" title="LIMPIEZA">
    <div
      slot="image"
      class="absolute left-0 right-0 bottom-0 h-full
    group-hover:scale-110 transition-scale duration-1000 ease-in-out
    opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat -z-10"
      style="background-image: url('/limpieza.webp')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out mb-3"
    >
      Procedimiento profesional para eliminar placa y sarro, prevenir
      enfermedades como la gingivitis y la periodontitis, y mantener dientes y
      encías saludables.
    </p>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6 cursor-pointer"
    title="COLOCACIÓN DE BOTOX"
  >
    <div
      slot="image"
      class="absolute left-0 right-0 bottom-0 h-full
    group-hover:scale-110 transition-scale duration-1000 ease-in-out
    opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat -z-10"
      style="background-image: url('/botox.webp')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out mb-3"
    >
      Uso del Botox en odontología para tratar el bruxismo, relajando los
      músculos masticatorios, y para suavizar arrugas y líneas de expresión
      faciales.
    </p>
  </BentoItem>
</section>
