---
const { title } = Astro.props;
---

<article
  class={`
  ${Astro.props.class}
  col-span-5
  relative rounded-xl
  backdrop-blur-md
  border border-black/10
  shadow-inner shadow-white/20
  overflow-hidden
  group
  flex flex-col
`}
>
  <slot name="image" />

  <div
    class="select-none flex flex-col gap-2 px-4 text-lg mt-3 justify-end flex-grow"
  >
    <h2
      class="text-xl sm:text-2xl lg:text-3xl xl:text-4xl text-white font-bold mt-2 flex-grow-0"
    >
      {title}
    </h2>

    <slot
      name="content"
      class="text-sm sm:text-base lg:text-lg xl:text-xl transform transition-all translate-y-3 opacity-0 group-hover:translate-y-0 group-hover:opacity-100"
    />
  </div>
</article>
