<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-3
    w-full xl:w-[1120px]
    z-10
    font-bold
    bg-white
    w-full
    max-w-[400px]
    h-full
    max-h-[30px]
    rounded-full
    mt-5
  `}
>
  <nav
    class={`
      rounded-full
      px-3 py-1
      flex flex-row items-center
    `}
  >
    <a
      class="rounded-full px-2 sm:px-3 transition text-sm sm:text-base hover:text-gray-600 hover:text-shadow"
      href="#servicios"
      style="transition: text-shadow 0.4s;"
    >
      Servicios
    </a>
    <a
      class="rounded-full px-2 sm:px-3 transition text-sm sm:text-base hover:text-gray-600 hover:text-shadow"
      href="#perfil"
      style="transition: text-shadow 0.4s;"
    >
      Perfil Profesional
    </a>
    <a
      class="rounded-full px-2 sm:px-3 transition text-sm sm:text-base hover:text-gray-600 hover:text-shadow"
      href="#citas"
      style="transition: text-shadow 0.4s;"
    >
      Agendar Cita
    </a>
  </nav>
</header>
