<article class="w-full mx-auto lg:w-[700px] py-5">
  <div class="flex flex-row justify-center items-center">
    <img src="/profesional.jpg" alt="doctora" class="rounded-md w-64 h-128" />
    <div class="[&>p]:mb-4 flex flex-col">
      <p class="text-white px-5">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ipsum
        magnam enim quia voluptatum nemo debitis praesentium, animi quod nam
        nostrum incidunt quas omnis? Et ut quae nam non accusantium.
      </p>

      <p class="text-white px-5">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ipsum
        magnam enim quia voluptatum nemo debitis praesentium, animi quod nam
        nostrum incidunt quas omnis? Et ut quae nam non accusantium.
      </p>
    </div>
  </div>
</article>
