---
import LinkedIn from "../icons/LinkedIn.astro";
import SocialPill from "./SocialPill.astro";
---

<article class="w-full mx-auto lg:w-[700px] py-5">
  <div
    class="flex flex-col items-center md:flex-row md:justify-center lg:-ml-20"
  >
    <img
      src="/profesional.jpg"
      alt="doctora"
      class="rounded-md w-full max-w-[920px] md:w-[300px] h-128 md:mr-8 gap-4
      mx-auto p-3"
    />
    <div class="flex flex-col lg:ml-[-10px]">
      <p class="text-white px-5 mb-2 md:mt-4 lg:px-0">
        Soy odontólogo egresada de la Ilustre Universidad de los Andes, en el
        estado Mérida en Venezuela. Finalicé mi grado en el año 2010, lo que me
        ha permitido ejercer mi carrera profesional y actualmente brindar a mis
        pacientes <strong>13 años de experiencia</strong>. Desde hace 7 años
        tomé la decisión de profundizar mis estudios enfocándome en el área de
        la ortodoncia y estética dental.
      </p>

      <p class="text-white px-5 mb-2 lg:px-0">
        Es importante para mí, brindar a mis pacientes una atención
        personalizada y de calidad. Por ello, me esfuerzo en mantenerme
        actualizada en las últimas tendencias y técnicas de la odontología, para
        ofrecer a mis pacientes tratamientos modernos y de calidad.
      </p>
      <nav class="flex gap-x-3 mt-2 ml-5 lg:ml-0">
        <SocialPill href="">
          <LinkedIn class="w-6 h-6" />
          LinkedIn
        </SocialPill>
      </nav>
    </div>
  </div>
</article>
