---
import Appointment from "../icons/Appointment.astro";
import SocialPill from "./SocialPill.astro";
import SelectHour from "./SelectHour.vue";
import SelectDay from "./SelectDay.vue";
---

<nav
  class="flex justify-center mt-2 lg:justify-start cursor-pointer ml-4 md:-ml-20"
  id="reservar-cita"
>
  <SocialPill>
    <Appointment class="w-6 h-6" />
    Reservar cita
  </SocialPill>
</nav>

<!-- Primer formulario -->
<div
  id="formulario-container"
  class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded-lg shadow-lg h-[500px] w-[350px]"
>
  <div class="flex justify-end z-10 ml-4 md:-ml-20">
    <!-- Bot贸n de cerrar formulario -->
    <button
      class="bg-[#0c0b46] hover:bg-[#0c0b46]/80 text-white font-bold py-2 px-4 rounded w-6 h-8 flex justify-center items-center"
      id="cerrar-formulario"
    >
      X
    </button>
  </div>

  <div class="flex justify-center -mt-3">
    <img src="logo.png" alt="Logo" class="h-auto max-w-xs block" />
  </div>
  <form action="#" class="flex flex-col items-center -mt-5">
    <div class="flex flex-col">
      <label class="text-xl/8">Nombre</label>
      <input
        class="border border-black/50 shadow-inner shadow-white/20 mb-2 px-2 py-1 rounded-lg lg:w-[230px]"
        type="text"
        name="name"
        autocomplete="off"
      />
    </div>
    <div class="flex flex-col">
      <label class="text-xl/8">Correo</label>
      <input
        class="border border-black/50 shadow-inner shadow-white/20 mb-2 px-2 py-1 rounded-lg lg:w-[230px]"
        type="text"
        name="name"
        autocomplete="off"
      />
    </div>

    <SelectDay />

    <div class="flex justify-center mt-3 -ml-6">
      <button
        type="button"
        class="bg-[#0c0b46] hover:bg-[#0c0b46]/80 text-white font-bold py-2 px-4 rounded"
        id="escoger-hora"
      >
        <strong>Escoger hora</strong>
      </button>
    </div>
  </form>
</div>

<!-- Segundo formulario -->
<div
  id="formulario-hora"
  class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded-lg shadow-lg h-[500px] w-[350px]"
>
  <!-- Contenido del segundo formulario -->
  <div class="flex justify-end z-10">
    <!-- Bot贸n de cerrar formulario -->
    <button
      class="bg-[#0c0b46] hover:bg-[#0c0b46]/80 text-white font-bold py-2 px-4 rounded w-6 h-8 flex justify-center items-center"
      id="cerrar-hora"
    >
      X
    </button>
  </div>
  <SelectHour @updateHours="updateHours" />
</div>

<script>
  const reservarCita = document.getElementById("reservar-cita");
  const formularioContainer = document.getElementById("formulario-container");
  const formularioHora = document.getElementById("formulario-hora");

  const cerrarFormulario = document.getElementById("cerrar-formulario");
  const cerrarHora = document.getElementById("cerrar-hora");
  const escogerHoraButton = document.getElementById("escoger-hora");

  reservarCita?.addEventListener("click", () => {
    // Mostrar el primer formulario al hacer clic en el bot贸n de reservar cita
    formularioContainer?.classList.remove("hidden");
  });

  cerrarFormulario?.addEventListener("click", () => {
    // Ocultar el primer formulario al hacer clic en el bot贸n de cerrar
    formularioContainer?.classList.add("hidden");
  });
</script>
