<div
  class="w-full mx-auto lg:w-[400px] py-5 bg-white rounded-lg shadow-lg
  lg:h-[500px] opacity-90 border-solid border-2 border-black"
>
  <img src="logo.png" alt="" class="h-auto max-w-xs mx-auto block -mt-20" />
  <form action="POST" class="flex flex-col pl-5">
    <div class="flex flex-col justify-between">
      <div class="flex flex-col">
        <label class="text-xl/8">Nombre</label>
        <input
          class="border border-black/50 shadow-inner shadow-white/20 mb-2 px-2 py-1 rounded-lg lg:w-[230px]"
          type="text"
          name="name"
          autocomplete="off"
        />
      </div>
      <div class="flex flex-col mb-2 mr-10">
        <label class="text-xl/8">Correo</label>
        <input
          class="border border-black/50 shadow-inner shadow-white/20 mb-2 px-2 py-1 rounded-lg lg:w-[230px]"
          type="text"
          name="email"
          placeholder="ejemplo@gmail.com"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="flex flex-col justify-between">
      <div class="flex flex-col">
        <label class="text-xl/8">Días disponibles</label>
        <div class="inline-block relative w-64">
          <select
            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-2 py-1 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
          >
            <option
              >Really long option that will likely overlap the chevron</option
            >
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              ><path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              ></path></svg
            >
          </div>
        </div>
      </div>
      <div class="flex flex-col mr-3 mt-3">
        <label class="text-xl/8">Horas disponibles</label>
        <div class="inline-block relative w-64">
          <select
            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-2 py-1 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
          >
            <option
              >Really long option that will likely overlap the chevron</option
            >
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              ><path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              ></path></svg
            >
          </div>
        </div>
      </div>
    </div>

    <button
      type="submit"
      name="submit"
      class="self-start mt-7 rounded-full border border-white/60 flex justify-center items-center gap-x-2 py-2 px-4 text-white mt-2 bg-[#0c0b46] hover:scale-110 hover:bg-[#0c0b46]/80 transition"
      >Agendar</button
    >
  </form>
</div>
